/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 20px;
}

.inputBox {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.inputBox>input {
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    width: 70%;
}

.inputBox>input:focus {
    outline: none;
}

.inputBox>button {
    width: 29%;
    height: 100%;
}

.todoList {
    margin-top: 20px;
}

.todoList>li {
    height: 50px;
    list-style-type: none;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons {
    padding-right: 20px;
    display: flex;
    gap: 10px;

}

i {
    cursor: pointer;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.card {
    /* border: 1px solid black; */
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin: auto;
    /* height: 80vh; */
    padding-bottom: 10px;
    /* padding-top: 1.2px; */
    background-color: rgb(59, 52, 52);
}

.card>h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    color: yellow;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.inputBox>input {
    width: 45%;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid gray;
    /* border: none; */
    outline: none;
}

.inputBox>button {
    width: 15%;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(119, 180, 5);
    color: white;
}

.todoList {
  
    margin-top: 10px;
}

.todoList>li {
    list-style-type: none;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 65%;
    margin-left: 80px;
    padding-right: 10px;
    background-color: rgb(99, 97, 97);
    color: white;

}

.icons {
    display: flex;
    gap: 15px;
}

.fa-trash {
    cursor: pointer;
}

.fa-pen-to-square {
    cursor: pointer;
}