/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 20px;
}

.inputBox {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.inputBox>input {
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    width: 70%;
}

.inputBox>input:focus {
    outline: none;
}

.inputBox>button {
    width: 29%;
    height: 100%;
}

.todoList {
    margin-top: 20px;
}

.todoList>li {
    height: 50px;
    list-style-type: none;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons {
    padding-right: 20px;
    display: flex;
    gap: 10px;

}

i {
    cursor: pointer;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background-color: cadetblue;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    padding-bottom: 10px;
    background-color: rgb(51, 47, 47);

}

.card>h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    color: yellow;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;

}

.inputBox>input {
    width: 45%;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid gray;
    outline: none;
}

.inputBox>button {
    width: 15%;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(119, 180, 5);
    color: white;
}

.todoList {

    margin-top: 10px;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.todoList>li {
    list-style-type: none;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%px;
    border-radius: 10px;
    padding-right: 10px;
    background-color: rgb(99, 97, 97);
    color: white;
    margin-right: 50px;
    background-color: rgb(105, 101, 101);

}

.icons {
    display: flex;
    gap: 15px;
}

.fa-trash {
    cursor: pointer;
}

.fa-pen-to-square {
    cursor: pointer;
}

.btnDel>button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;

}

.btnDel {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {

    .card {
        width: 90%;
    }

    .card>h1 {
        font-size: 28px;
    }

    .inputBox>input {
        width: 60%;
        font-size: 18px;
    }

    .inputBox>button {
        width: 25%;
        font-size: 18px;
        font-weight: bold;
    }
}